.card-footer-main-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 10px;
}
.card-footer-main-content h2 {
  font-family: sans-serif;
}

.card-footer-main-content button {
  width: 240px;
  padding: 1.1rem 0.5rem;
  /* margin-top: 1.5rem; */
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #285bcffa;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.25rem;
  cursor: pointer;
  /* position: relative; */
  z-index: 9;
  font-size: 20px;
}

/* 
.card-footer-main-content button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #3b2dd2fa;
  z-index: -1;
}

.card-footer-main-content button:hover:before {
  width: 100%;
  transition: 0.2s all;
} */
